################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net8.0
/.vs/thundersApp
/Domain/bin/
/Domain/obj/
/Infrastructure/obj/
/thundersApp/Infrastructure/obj/
/Infrastructure/bin/
/Tests/bin/
/Tests/obj/
/obj/